<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
   
<body>
    <%- include('./partials/nav.ejs') %>
    
   <div class="About content">
    <h2>About us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis sed hic, explicabo numquam quod doloremque nesciunt minima ut? Non nulla maxime debitis sed dignissimos? Porro quam quasi saepe inventore voluptate.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa earum alias dolorem reiciendis voluptatum ipsam, itaque, ipsum mollitia, sed a amet libero quibusdam vitae non eveniet eligendi deserunt similique? Repellendus!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, perferendis beatae odit corrupti alias quaerat ipsam temporibus quam consequuntur soluta eos quod pariatur tenetur consequatur blanditiis nam placeat libero tempore.</p>
   </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>